@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); /*Font da usare nel file incluso*/
*{ /*css relativo a tutta la pagina in cui é incluso*/
  margin: 0; /*Nessun margine/spazio*/
  padding: 0;
  box-sizing: border-box; /*Modalitá scatola con bordi*/
  font-family: 'Poppins',sans-serif; /*Font utilizzato (precedentemente importato)*/
}
body{ /*css relativo al body del file in cui é incluso*/
  height: 100vh; /*Altezza del body*/
  display: flex; /*Tipo di visualizzazione degli elementi del body*/
  justify-content: center; /*elementi centrati*/
  align-items: center;
  padding: 10px;
  
}
.container{ /*css per il div class container*/
  max-width: 700px; /*Il container principale avrá una larghezza di 700px*/
  width: 100%;
  background-color: #fff; /*Di colore bianco*/
  padding: 25px 30px;
  border-radius: 25px; /*Con bordi arrotondati*/
  box-shadow: 0 27px 87px rgba(0,0,0,0.37); /*E un'ombra*/
}

textarea, #file { /* Stili specifici per la teaxtarea */
    border-radius: 5px;
    font-size: 12px;
    height: 200px;
    width: 320px;
    overflow: hidden; /* disabilita la scrollbar */
    }

.container .title{ /*Stili sia per container che che il div class title*/
  font-size: 25px; /*Dimensione font*/
  font-weight: 500; /*Spessore font*/
  position: relative; /*Posizionamento*/
}
.container .title::before{ /*Prima di ogni elemento selezionato*/
  content: ""; 
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{ /*Stili per la visualizzazione e gli stili dei div selezionati*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px); /*Specifica la larghezza del contenuto in base al main box*/
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease; /*Imposta velocitá di transizione*/
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }

  a:link, a:visited {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: white;
    height: 40px;
    width: 130px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    float: right;
    margin-right: 1em;
  }
  
  a:hover, a:active {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
  /*Media per il responsive design*/
 @media(max-width: 584px){
 .container{
  max-width: 100%; /*Il container avrá sempre massima estensione in larghezza*/
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll; /*Viene abilitata la scrollbar*/
  }
  .user-details::-webkit-scrollbar{
    width: 5px; /*Con larghezza 5px*/
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column; /*Specifica la direzione degli elementi del div in cui é contenuto*/
  }
}
